Repository fuchicorp/cluster-infrastructure, pull requests merged in 2020-06, with the labels that each got.

#78 added modul
  kube-cluster/.gitignore
  kube-cluster/README.md
  kube-cluster/enable-api.sh
  kube-cluster/google-zone.tf
  kube-cluster/google_bucket.tf
  kube-cluster/kubecluster-deployment.tf
  kube-cluster/main.tf
  kube-cluster/variables.tf
Labels: DevOps Documentation, DevOps Feature, Terraform

#87 Feature/docker compose
  fuchicorp-bastion/fuchicorp-bastion.tf
  fuchicorp-bastion/variables.tf
Labels: Bash Scripting, Bastion

#93 Feature/groovy
  fuchicorp-bastion/fuchicorp-bastion.tf
Labels: Bastion, DevOps Feature, Groovy, Terraform
