Repository fuchicorp/cluster-infrastructure, pull requests merged in 2020-07, with the labels that each got.

#84 Feature/vpc project
  aws/vpc-project/.gitignore
  aws/vpc-project/JenkinsDeploy.groovy
  aws/vpc-project/README.md
  aws/vpc-project/deployments/terraform/backend.tf
  aws/vpc-project/deployments/terraform/configurations/us-east-1/vpc.tfvars
  aws/vpc-project/deployments/terraform/module/eip.tf
  aws/vpc-project/deployments/terraform/module/igw.tf
  aws/vpc-project/deployments/terraform/module/ngw.tf
  aws/vpc-project/deployments/terraform/module/output.tf
  aws/vpc-project/deployments/terraform/module/rt.tf
  aws/vpc-project/deployments/terraform/module/sec_group.tf
  aws/vpc-project/deployments/terraform/module/subnet.tf
  aws/vpc-project/deployments/terraform/module/variable.tf
  aws/vpc-project/deployments/terraform/module/vpc.tf
  aws/vpc-project/deployments/terraform/output.tf
  aws/vpc-project/deployments/terraform/provider.tf
  aws/vpc-project/deployments/terraform/setenv.sh
  aws/vpc-project/deployments/terraform/variable.tf
  aws/vpc-project/deployments/terraform/vpc_module.tf
Labels: Dev Feature, Terraform

#94 Created outputs and readme file
  .gitignore
  aws/vpc-project/README.md
  aws/vpc-project/deployments/terraform/backend.tf
  aws/vpc-project/deployments/terraform/output.tf
  aws/vpc-project/deployments/terraform/templates/output.tpl
Labels: Bastion, Terraform

#95 Configured EKS configurations
  aws/eks/main.tf
  aws/eks/providers.tf
  aws/eks/set-env.sh
  aws/eks/variables.tf
Labels: DevOps Feature, Kubernetes, Terraform

#97 Feature/olga vpc
  aws/vpc-project/deployments/terraform/module/subnet.tf
Labels: DevOps Feature, Terraform
